@charset "UTF-8";

body {
  background: #dddddd;
  color: rgba(0,0,0,1);
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

div#interface{
  width: auto;
  background-color: #ffffff;
  margin: -10px auto 0px auto;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 0px 10px black;
}

/* Header - Cabeçalho */

header#cabecalho{
  border-bottom: 1px #606060 solid;
  height: 150px;
}

header#cabecalho h1{
  margin-left: 150px;
  font-family: font-family: 'Shadows Into Light', sans-serif;
  font-size: 30pt;
  color: #606060;
  text-shadow: 1px 1px 1px rgba(0,0,0,.6);
  padding: 20px 0px 0px 0px;
  margin: 0px;
}

header#cabecalho h2{
  margin-left: 150px;
  font-family: Arial, sans-serif;
  font-size: 15pt;
  color: #888888;
  padding: 0px;
  margin: 0px;
}

img#logo{
  width: 250px;
  height: 130px;
  margin: 10px 20px 10px 0px;
  float: left;
}

/* Menu */

nav#menu{
	display: block;
  box-shadow: 0px 0px 0px black;
}

nav#menu ul{
  list-style: none;
  text-transform: uppercase;
  float: right;
}

nav#menu li{
  display: inline-block;
  background-color: #dddddd;
  padding: 10px;
  margin-top: -10px;
}

nav#menu h1{
  display: none;
}

nav#menu a{

}

/* Links */

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}