body {
  margin: 5px;
  padding: 5px;
  background: #000000;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* Header - Cabeçalho */

header#cabecalho{
  border-bottom: 1px #606060 solid;
  height: 150px;
}

/* Menu */

nav#menu{
	display: block;
}

nav#menu ul{
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  left: 350px;
}

nav#menu li{
  display: inline-block;
  background-color: #dddddd;
  padding: 10px;
  margin: 2px;
}

nav#menu h1{
  display: none;
}

/* Links */

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}